body{
    background-color: #a9babb;
}

h2{
    width: 60%;
    color: black
}

h1{
    color: black;
}


nav ul{
    width: 25%;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap:wrap-reverse;
}

nav ul li{
    padding:5px 5%;
    display:flex;
    background-color: #393E46;
    list-style:none;
    border-style: ridge;
    border-width: 0;
    border-radius: 3px;
    border-color: Black;
}

#admin{
    background-color: #EEEE;
}

nav ul li a{
    text-decoration: none;
    width: auto;
    color: #EEEE;
}

.events-submenu li{
    background-color:#393E46;
    border-radius: 5px;
    border-style: solid;
}

thead{
    background-color: #393E46;
    opacity: 90%;
}

thead th a{
    text-decoration: none;
    color: #EEEE;
}

tbody{
    color: #444242;
}

tbody tr{
    color: #EEEE;
    border-color:#393E46;
    border-width: 2px;
    border-style:solid;
}

tbody td a{
    text-decoration: none;
    color: #393E46;
    margin: 3px;
    padding: 3px;
    border-radius: 3px;
    background-color: #EEEE;
}

tbody td{
    color: black;
}

.date{
    width:	95px;
}
.time{
    width: 100px;
}

dl{
    width: fit-content;
    margin-left: 2%;
}
dl dt{
    background-color: #fdc007;
    padding: 3px;
    border-width: 2px;
    border-color: #EEEE;
    border-top-right-radius: 5px;
}
dl dd{
    background-color: #EEEE;
    padding: 5px;
    border-width: 0 2px 2px 2px;
    border-style:solid;
    border-color: #393E46;
}

form{
    display:flex;
    flex-direction: column;
    width: 80%;
    margin: 0 10%;
}
#form-buttons{
    display:flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
}
#form-buttons div{
    margin: 5px;
}